@font-face {
  font-family: 'NotoSansKR';
  src: url('/public/fonts/NotoSansKR-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/public/fonts/NotoSansKR-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/public/fonts/NotoSansKR-Light.otf');
  font-weight: lighter;
  font-style: normal;
}
